$typography-action: rgba(0, 103, 201, 1);
$typography-primary: rgba(43, 42, 41, 1);
$typography-secondary: rgba(73, 70, 67, 1);
$typography-error: rgba(231, 51, 27, 1);
$default-white: rgba(244, 241, 236, 1);
$backgraund-inputs: rgba(254, 253, 252, 1);
$backgraund-button: rgba(43, 42, 41, 1);
$backgraund-button-hover: rgba(5, 0, 41, 1);
$stroke-secondary: rgba(223, 218, 214, 1);
$stroke-dark: rgba(43, 42, 41, 1);
$stroke-main: rgba(160, 156, 153, 1);