@use "../../scss/common/vars" as *;
@use "../../scss/common/mixins" as *;

.card {
  background-color: $backgraund-inputs;
  border-radius: 4px;
  padding: 24px;
  border: 1px solid transparent;
}

.title {
  text-transform: uppercase;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;

  @include media(tablet) {
    font-size: 32px;
    line-height: 40px;
  }

  @include media(desktop) {
    font-size: 40px;
    line-height: 48px;
  }
}

.priceBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 32px;
}

.price {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.priceText {
  font-size: 18px;
  line-height: 28px;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: $typography-primary;
  color: $backgraund-inputs;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: center;
  width: 272px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @include media(tablet) {
    width: 294px;
  }

  @include media(desktop) {
    width: 336px;
  }
}

.feautersBox {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid $stroke-secondary;

  font-size: 14px;
  line-height: 20px;

  @include media(tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.feauter {
  display: flex;
  gap: 12px;
  padding-top: 16px;
}

.feauterItem {
  @include media(tablet) {
    max-width: 262px;
  }

  @include media(desktop) {
    max-width: 304px;
  }
}

.active {
  border: 1px solid $typography-primary;
}

.icon {
  width: 20px;
  height: 20px;

  @include media(desktop) {
    width: 24px;
    height: 24px;
  }
}
