.whyWe{
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    .whyWeContainer{
        width: 100%;
        max-width: 1216px;
        margin: 0 20px;
        h2{
            font-family: "Cormorant Infant", sans-serif;
            margin: 0;
            text-align: left;
            color: #2B2A29;
            font-size: 48px;
            font-weight: bold;
            line-height: 56px;
            margin-bottom: 16px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        .whyWeContainerDescription{
            color: black;
            font-size: 18px;
            width: 100%;
            line-height: 28px;
            font-weight: 400;
            margin-bottom: 60px;
            text-align: center;
        }
        .whyWeContainerList {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, 384px), 1fr));
            justify-content: center;
            color: black;
            div{
                padding: 0 32px;
                padding-right: 40px;
                padding-bottom: 32px;
                border-right: 1px solid #A09C99;
                border-bottom: 1px solid #A09C99;
                &:nth-child(3),
                &:nth-child(6) {
                    border-right: none;
                }
            
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    padding-top: 32px;
                    border-bottom: none;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(6) {
                    padding-left: 48px;
                }
            }
            img{
                margin-bottom: 32px;
            }
            .whyWeContainerListTitle{
                margin-top: 32px;
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 16px;
            }
            .whyWeContainerListDesc{
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;

            }
            @media (max-width: 1255px) {
                grid-template-columns: repeat(2, 1fr);
                .whyWeContainerListTitle{
                    margin-top: 20px;
                    margin-bottom: 16px;
                }
                div{
                    border-right: 1px solid #A09C99;
                    border-bottom: 1px solid #A09C99;
                    padding: 20px;
                    &:nth-child(1),
                    &:nth-child(2){
                        padding-top: 0;
                    }

                    &:nth-child(1),
                    &:nth-child(3),
                    &:nth-child(5) {
                        border-bottom: 1px solid #A09C99;
                        border-right: 1px solid #A09C99;
                        padding-right: 22px;
                    }

                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(6) {
                        border-bottom: 1px solid #A09C99;
                        border-right: none;
                        padding-left: 22px;
                    }

                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6) {
                        padding-top: 20px;
                        padding-left: 20px;
                    }

                    &:nth-child(5),
                    &:nth-child(6) {
                        border-bottom: none ;
                    }
                }

            }
            @media (max-width: 550px) {
                grid-template-columns: 1fr;
                .whyWeContainerListTitle{
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
                div{
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6){
                        border: none;
                        border-bottom: 1px solid #A09C99;
                        padding: 20px 0;
                    }

                    &:nth-child(1){
                        padding-top: 0;
                    }
                }
            }
        }
        @media (max-width: 1255px) {
            margin: 0 30px;
            max-width: 704px;
            h2{
                font-size: 40px;
                margin-bottom: 32px;
            }
        }
        @media (max-width: 550px) {
            margin: 0 20px;
            h2{
                font-size: 28px;
                font-weight: bold;
                line-height: 36px;
                margin-bottom: 24px;
            }
        }
    }
    @media (max-width: 1255px) {
        margin-bottom: 120px;
    }
    @media (max-width: 550px) {
        margin-bottom: 80px;
    }
}

.whyWeIcon{
    width: 80px;
    height: 80px;
    @media (max-width: 1255px) {
        width: 62px;
        height: 62px;    
    }
}