@use "../../scss/common/vars" as *;
@use "../../scss/common/breakpoints" as *;
@use "../../scss/common/mixins" as *;

.form {
  position: relative;
  width: 320px;

  @include media(tablet) {
    width: 384px;
  }

  @include media(desctop) {
    padding: 0 32px;
  }
}

.title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 4px;

  text-transform: uppercase;
  text-align: center;
  color: $typography-primary;

  @include media(tablet) {
    font-size: 32px;
    line-height: 40px;
    // margin-top: 52px;
    margin-bottom: 8px;
  }

  @include media(desktop) {
    font-size: 40px;
    line-height: 48px;
    margin-top: 32px;
    margin-bottom: 8px;
  }
}

.discription {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 28px;
  text-align: center;

  @include media(tablet) {
    margin-bottom: 32px;
  }

  @include media(desktop) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

.label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 18px;
  gap: 4px;
  margin-bottom: 16px;
  color: $typography-primary;

  @include media(tablet) {
    gap: 8px;
    margin-bottom: 24px;
  }

  @include media(desktop) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 13px 14px;
  border-radius: 4px;
  border: 1px solid $stroke-secondary;
  color: $typography-secondary;
  background-color: $backgraund-inputs !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @include media(desctop) {
    padding: 12px 14px;
    font-size: 16px;
    line-height: 24px;
  }
}

.input:active,
.input:focus {
  color: $typography-primary;
  border-color: $typography-primary;
  background-color: $backgraund-inputs !important;
  outline: none;
}

.input.inputError {
  color: $typography-error;
  border: 1px solid $typography-error;
  background: $backgraund-inputs;
}

.error {
  position: absolute;
  top: 79px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $typography-error;
}

.input:active {
  color: var(--primary-color-black);
}

.placeholder {
  color: var(--text-placeholder);
}

.button {
  width: 100%;
  height: 48px;
  padding: 14px 24px;

  border-radius: 4px;
  border: none;
  background-color: $typography-primary;
  color: $backgraund-inputs;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.button:hover {
  box-shadow: 0 4px 14px 0 var(--shadow-color-hover);
  cursor: pointer;
  background-color: $backgraund-button-hover;
}

.button:active {
  box-shadow: none;
  cursor: pointer;
}
