@use "../../scss/common/mixins" as *;
@use "../../scss/common/breakpoints" as *;

.layout {
  display: flex;
  height: 100vh;
  justify-content: center;

  @include media(desktop) {
    justify-content: right;
  }
}

.bgImg {
  display: none;

  @include media(desktop) {
    display: block;
    height: 100vh;

    object-fit: contain;
  }
}

.formContainer {
  max-height: 100vh;
  width: 360px;
  padding: 40px 20px 120px 20px;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  // align-items: center;

  @include media(tablet) {
    width: 768px;
    padding: 108px 192px 50px 192px;
  }

  @include media(desktop) {
    width: 720px;
    padding: 80px 165px 20px 165px;
  }
}
