.gallery{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    .galleryContainer{
        width: 100%;
        max-width: 1216px;
        margin: 0 20px;
        .galleryContainerHead{
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            h2{
                color: #2B2A29;
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                text-transform: uppercase;
                font-family: "Cormorant Infant", sans-serif;
                width: 70%;
                margin: 0;
            }
            p{
                text-align: end;
                max-width: 384px;
                font-size: 18px;
                font-weight: 400;
                color: #494643;
                line-height: 26px;
            }
            
        }
        .galleryContainerGrid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-auto-rows: 100px;
            gap: 32px;
          }
          
          .galleryContainerGridItem {
            width: 100%;
            overflow: hidden;
            border-radius: 10px;
          
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }
    }
}
  
.h2 {
    grid-row: span 2;
}
.h3 {
    grid-row: span 3;
}
.h4 {
    grid-row: span 4;
}