.button {
  box-sizing: border-box;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid var(--border-primary);
  background-color: var(--background-bg-primary);

  color: var(--text-heading-secondary);

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.google {
  width: 24px;
  height: 24px;
}
