@use "../../scss/common/vars" as *;

.button {
  box-sizing: border-box;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid $stroke-main;
  background-color: $default-white;

  color: $typography-primary;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.google {
  width: 24px;
  height: 24px;
}
