@use "../../scss/common/mixins" as *;

.pageContainer {
  padding-top: 92px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;

  @include media(tablet) {
    padding-top: 96px;
    padding-bottom: 60px;
  }
  @include media(desktop) {
    padding-bottom: 80px;
  }
}
