.designPanel{
    display: flex;
    justify-content: center;
    margin: 60px 0;
    margin-bottom: 160px;
    .designPanelContainer{
        width: 100%;
        max-width: 1216px;
        margin: 0 20px;
        .designPanelContainerHead{
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            h2{
                color: #2B2A29;
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                text-transform: uppercase;
                font-family: "Cormorant Infant", sans-serif;
                width: 70%;
                margin: 0;
            }
            p{
                text-align: end;
                max-width: 384px;
                font-size: 18px;
                font-weight: 400;
                color: #494643;
                line-height: 26px;
            }
            
        }
        .designPanelContainerList{
            display: grid;
            grid-template-columns: 592px 544px;
            gap: 32px;
            justify-content: space-between;
            .designPanelContainerListView{
                box-shadow: 6px 6px 32px 0px rgba(43, 42, 41, 0.06);
                background: #F2F0F0;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                img{
                    width: 100%;
                    aspect-ratio: 1/1;
                    height: 458px;
                    border-radius: 12px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .designPanelContainerListInfo{
                    padding: 32px;
                    .designPanelContainerListInfoTitle{
                        font-weight: 500;
                        font-size: 28px;
                        margin-bottom: 8px;
                        color: #2B2A29;
                    }
                    .designPanelContainerListInfoDesc{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        max-width: 468px;
                        min-height: 84px;
                        color: #494643;
                    }
                }
            }
        }
        .designPanelContainerListControl{
            display: flex;
            align-items: center;
            .designPanelContainerListControlList{
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
                .designPanelContainerListControlListItem{
                    display: inline-block;
                    max-width: 100%;
                    background: transparent;
                    cursor: pointer;
                    border: 1px solid #A09C99;
                    border-radius: 8px;
                    font-size: 16px;
                    color: #706D6A;
                    font-weight: 400;
                    height: 48px;
                    padding: 0 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .active{
                    transition: 0.5s;
                    border: 1px solid #2B2A29;
                    color: #2B2A29;
                }
            }
            .designPanelContainerListControlButton{
                margin-top: 48px;
                background: #2B2A29;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 216px;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 600;
                color: #FEFDFC;
                text-decoration: none;
                border: 2px solid #2B2A29;
                &:hover{
                    transition: 0.5s;
                    background: transparent;
                    color: #2B2A29;
                }
            }
        }
        @media (max-width: 1255px) {
            margin: 0 30px;
            max-width: 704px;
            .designPanelContainerList{
                grid-template-columns: auto;
                display: flex;
                flex-direction: column-reverse;
                .designPanelContainerListControlList{
                    gap: 16px;
                }
                .designPanelContainerListControlContainer a{
                    display: none;
                }
                .designPanelContainerListView .designPanelContainerListInfo .designPanelContainerListInfoDesc{
                    max-width: fit-content;
                    min-height: fit-content;
                }
            }
            .designPanelContainerHead{
                display: block;
                h2,p{ text-align: left; }
                p{ max-width: fit-content; }
                h2{ margin-bottom: 16px; }
            }
        }
        @media (max-width: 550px) {
            margin: 0 20px;
            .designPanelContainerList{
                gap: 24px;
                .designPanelContainerListView img{
                    height: 320px;
                }
                .designPanelContainerListControlList{
                    gap: 8px;
                    .designPanelContainerListControlListItem{
                        padding: 0 13px;
                    }
                }
                .designPanelContainerListView 
                .designPanelContainerListInfo{
                    padding: 19px;
                    .designPanelContainerListInfoTitle{
                        font-size: 24px;
                    }
                    .designPanelContainerListInfoDesc{
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
            .designPanelContainerHead{
                h2{ 
                    font-size: 28px;
                    line-height: 36px;
                    font-weight: bold;
                    margin-bottom: 12px;
                    width: 100%;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 24px;
                }
            }
        }
    }
    @media (max-width: 1255px) {
        margin-bottom: 120px;
    }
    @media (max-width: 550px) {
        margin-bottom: 80px;
    }
}