@use "./scss/common/breakpoints";

@use "./scss/common/mixins";

@use "./scss/common/reset";

@use "./scss/common/vars";

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/Satoshi/Satoshi-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/Cormorant/CormorantInfant-SemiBold.ttf")
    format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background-color: vars.$default-white;
}

.swiper-pagination-bullet-active {
  background: #1d1c20 !important;
}

.stepsGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 16px;
  padding: 32px;

  .stepItem {
    grid-column: span 1;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;

    .circle {
      background-color: #1e1e1e;
      color: white;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: bold;
      margin: 0 auto 16px;
    }

    .stepTitle {
      font-weight: 600;
      max-width: 258px;
      margin-bottom: 8px;
    }

    .stepDesc {
      font-size: 14px;
      color: #8c8c8c;
    }
  }

  .stepArrow {
    width: 100%;
    max-width: 120px;
    justify-self: center;
  }
}
