@use "../../scss/common/mixins" as *;

.cardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
  justify-content: center;

  @include media(tablet) {
    margin-top: 48px;
    row-gap: 32px;
    column-gap: 20px;
  }

  @include media(desktop) {
    flex-wrap: nowrap;
  }
}
