.footerMain{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #D1D1D1;
    border-bottom: 1px solid #1D1C20;
    .footerMainContainer{
        max-width: 1216px;
        width: 100%;
        margin: 0 20px;
        margin-top: 32px;
        margin-bottom: 24px;
        .footerMainContainerInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footerMainContainerInfoList{
                width: 100%;
                max-width: 279px;
                .footerMainContainerInfoListItem{
                    height: 24px;
                    width: 100%;
                    display: flex;
                    .footerMainContainerInfoListItemKey{
                        margin-right: 40px;
                    }
                    .footerMainContainerInfoListItemValue a{
                        color: #1D1C20;
                        text-decoration: none;
                        &:hover{
                            transition: 0.5s;
                            color: #848484;
                        }
                    }
                    p{
                        margin: 0;
                        font-size: 16px;
                        font-weight: 500;
                        color: #1D1C20;
                    }
                }
            }
            .footerMainContainerInfoSocial{
                width: 100%;
                max-width: 192px;
                display: flex;
                justify-content: space-between;
                img{
                    color: #1D1C20;
                    &:hover{
                        transition: 0.5s;
                        color: white;
                    }
                }
            }
        }
        .footerMainContainerCopy{
            margin-top: 24px;
            display: flex;
            align-items: center;
            img{
                margin-right: 12px;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color: #1D1C20;
            }
        }
    }
}

.footerAdditional{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: #1D1C20;
        text-decoration: underline;
        font-size: 16px;
        font-weight: 500;
        text-underline-offset: 10px;
    }
}