.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

.title {
  font-family: "Cormorant";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.info {
  font-size: 18px;
  line-height: 28px;
}
